body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #4682B4;
}

.text-link,
#fale-conosco button {
    color: #fff;
}

.carousel-inner img {
    width: 100%;
    height: 750px;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #4682B4;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-roupa .nav-link.active:hover {
    color: #fff;
}

.nav-roupa .nav-link,
span {
    color: #4682B4;
}

.nav-roupa .nav-link.active,
#fale-conosco button {
    background-color: #4682B4;
    color: #fff;
}

#sobre-a-loja,
#roupa {
    background-color: #dcf0ff;
}

#fale-conosco button {
    background-color: #4682B4;
}

.section-title {
    font-family: 'Kalam', cursive;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

.text-color {
    color: #4682B4;
}

@media screen and (max-width: 767px) {
    .carousel-inner img {
        width: 100%;
        height: 280px;
    }

    .mag {
        margin-top: 12px;
    }
}